	<div>
		<div class="topcorner">
			<a href="/#login">Login</a>
		</div>
	    <div class="center">
	        <h1 class="text-center">Registreer.</h1>
	
	        <form class="form-horizontal">
	        	<input class="form-control input-lg" id="firstname" data-ng-model="firstname" placeholder="Voornaam" />&nbsp;
	            <input class="form-control input-lg" id="name" data-ng-model="name" placeholder="Naam" />&nbsp;
	            <input class="form-control input-lg" id="street" data-ng-model="street" placeholder="Straatnaam en huisnummer" />&nbsp;
	            <input class="form-control input-lg" id="town" data-ng-model="town" placeholder="Gemeente" />&nbsp;
	            <select class="form-control input-lg" id="gender" data-ng-model="gender">
	            	<option value="" disabled selected>Geslacht</option>
	            	<option value="MAN">Man</option>
	            	<option value="VROUW">Vrouw</option>
	            </select>&nbsp;
	            <select class="form-control input-lg" id="category" data-ng-model="category" multiple="multiple">
	            	<option value="" disabled selected>Categorie</option>
	            </select>&nbsp;
	            <input class="form-control input-lg" id="club" data-ng-model="club" placeholder="Loopclub" />&nbsp;
	            <input class="form-control input-lg" id="age" data-ng-model="age" placeholder="Leeftijd" />&nbsp;
	            <input class="form-control input-lg" id="email" data-ng-model="email" placeholder="E-mail adres" />&nbsp;
	            
	            <button class="btn btn-block btn-primary btn-lg" data-ng-click="create(firstname, name, street, town, gender, club, age, email, category)">
                	<span data-ng-hide="saving">Registreren</span>
				    <i class="fa fa-spinner fa-spin" data-ng-show="saving"></i>	            
				</button>
	        </form>

            <div class="{{class}}" data-ng-cloak="" data-ng-show="result">
            	{{result}}
            </div>
	    </div>
	</div>