.content {
	color: #365c44;
}

.links {
  border-right: 1px solid #000;
  font-size: 200%;
}

.runs {
	font-size: 400%;
	border-bottom: 2px solid #365c44;
	width: 350px;
	padding-bottom: 1px;
	height: 150px;
	margin-bottom: 20px;
}

.text-center {
	float: none;
	margin: 0 auto;
	font-size: 400%;
	border:	2px solid #dcc800;
	width: 350px;
}

.price {
	color: #b6beb8;
}

.extrainfo {
	color: #dcc800;
}

.info-header {
	font-size: 200%;
	color: #dcc800;
}

.informatief {
	margin-left: 30px;
}

.bedrijvenklassement {
	margin-left: 30px;
	color: #365c44 !important;
}

.opbrengst {
	margin-top: 20px;
}

.form-checkbox {
	margin-left: 10px;
}

#category {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;	
}